$vivaBlack : #000;
$vivaBlue : #003B5C;
$vivaGreen : #49C5B1;
$vivaLightBlue : #9BCBEB;
$vivaYellow : #E9E186;
$vivaAsfalt : rgba(88, 104, 121, 0.59);
$vivaLightBlack : #575757;
$vivaGrey : #C6C6C6;
$vivaLightGrey : #EAEAEA;
$vivaWhite : #fff;

@mixin fz13px{
  font-size: 13px;
  line-height: 18px;
  @include media-breakpoint-down(sm){
    font-size: 11px;
    line-height: 17px;
  }
}

@mixin fz14px{
  font-size: 14px;
  line-height: 20px;
  @include media-breakpoint-down(sm){
    font-size: 12px;
    line-height: 18px;
  }
}

@mixin fz15px{
  font-size: 15px;
  line-height: 24px;
  @include media-breakpoint-down(sm){
    font-size: 13px;
    line-height: 20px;
  }
}

@mixin fz16px{
  font-size: 16px;
  line-height: 28px;
  @include media-breakpoint-down(sm){
    font-size: 14px;
    line-height: 22px;
  }
}

@mixin fz18px{
  font-size: 18px;
  line-height: 28px;
  @include media-breakpoint-down(sm){
    font-size: 16px;
    line-height: 26px;
  }
}

@mixin fz20px{
  font-size: 20px;
  line-height: 28px;
  @include media-breakpoint-down(sm){
    font-size: 18px;
    line-height: 26px;
  }
}

@mixin fz25px{
  font-size: 25px;
  line-height: 32px;
  @include media-breakpoint-down(sm){
    font-size: 22px;
    line-height: 28px;
  }
}


@mixin fz30px{
  font-size: 30px;
  line-height: 36px;
  @include media-breakpoint-down(sm){
    font-size: 26px;
    line-height: 32px;
  }
}

@mixin fz35px{
  font-size: 35px;
  line-height: 40px;
  @include media-breakpoint-down(sm){
    font-size: 30px;
    line-height: 34px;
  }
}

@mixin fz38px{
  font-size: 38px;
  line-height: 44px;
  @include media-breakpoint-down(sm){
    font-size: 34px;
    line-height: 40px;
  }
}

// load repositories
@import "repository/reset";
@import "repository/variables";
@import "repository/mixins";

// </> grids
//@import "repository/grid-default"; //required
//@import "repository/grid-cols";
//@import "repository/grid-x"; 
@import "repository/grid-flex";
// </> end

@import "repository/typography";
@import "repository/forms";
@import "repository/tables";
@import "repository/buttons";

// </> utilities
@import "repository/utilities";
// </> end
  
// load pages
@import "pages/home"; 
@import "pages/inners";
@import "pages/contact";
@import "pages/_single";

// load partials
@import "partials/header";
@import "partials/footer";
