.contact-form{
  form{
    padding-right: 15px;
    label{
      @include fz15px;
      color: $vivaAsfalt;
      font-weight: normal;
      margin-bottom: 7px;
    }
    p{
      margin-bottom: 0;
    }
    .wpcf7-form-control-wrap{
      input{
        height: 50px;
        margin-bottom: 40px;
        border-color: #bcc3c6;
        transition: all 0.3s ease;
      }
      textarea{
        margin-bottom: 40px;
        border-color: #bcc3c6;
      }
    }
    .wpcf7-not-valid {
      transition: all 0.3s ease;

      border: 1px solid #cb3b11 !important;
      background-color: rgba(203, 59, 17, 0.06);
    }
    input[type="submit"]{
      width: 100%;
      background-color: $vivaGreen;
      color: white;
      text-transform: uppercase;
      text-align: center;
      padding: 15px 0;
      &:hover{
        background-color: $vivaLightBlue;
      }
    }
  }
  .white-box-with-info:first-of-type{
    margin-top: 46px;
  }
}

body{
  .wpcf7-response-output{
    z-index: 999;
    padding: 20px;
    text-align: center;
    font-size: 13px;
    background-color: white !important;
    color: $vivaGreen;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: fixed;
    bottom: 20px !important;
    left: 5%;
    border: 1px solid rgba(73, 197, 177, 0.53) !important;
    transition: position 0.6s ease;
    &.wpcf7-validation-errors{
      color: rgba(220, 24, 0, 0.59);
      border-color: rgba(190, 23, 0, 0.59) !important;
    }
  }
}

.page-contact{
  .map{
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
